
.ipynb_checkpoints/
/processed_images
/test_images
/train_images
./dem.png
# ====================
# Node.js dependencies
# ====================
node_modules/

# ====================
# Logs
# ====================
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# ====================
# Build output
# ====================
dist/
build/

# ====================
# Environment files
# ====================
.env

# ====================
# OS / System files
# ====================
.DS_Store
Thumbs.db
